@font-face {
    font-family: 'NotoSans';
    src: url(../font/NotoSansKR-Regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'NotoSans';
    src: url(../font/NotoSansKR-Medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'NotoSans';
    src: url(../font/NotoSansKR-Bold.woff2) format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Barlow';
    src: url(../font/Barlow-SemiBold.woff2);
    font-weight: 500;
}
@font-face {
    font-family: 'Barlow';
    src: url(../font/Barlow-Bold.woff2);
    font-weight: 600;
}